<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<successAction>
				<!-- Replace the Success Redirect of WFFM to reload the page if a Gated Content Form -->
        <processor patch:before="*[@type='Sitecore.Form.Core.Pipelines.FormSubmit.SuccessRedirect, Sitecore.Forms.Core']"
								   type="JonathanRobbins.GatedContent.Pipelines.SuccessAction.SuccessGatedAccessRedirect, JonathanRobbins.GatedContent">
          <GatedContentSaveActionIds hint="raw:AddGatedContentSaveActionIds">
            <GatedContentSaveActionId value=""/>
            <GatedContentSaveActionId value=""/>
          </GatedContentSaveActionIds>
        </processor>
			</successAction>
		</pipelines>
	</sitecore>
</configuration>
