<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
    <settings>
        <setting name="CookieLifeSpanInDays" value="1000" />
    </settings>
      
		<pipelines>
			<successAction>
				<!-- Replace the Success Redirect of WFFM to reload the page if a Gated Content Form -->
        <processor patch:before="*[@type='Sitecore.Form.Core.Pipelines.FormSubmit.SuccessRedirect, Sitecore.Forms.Core']"
								   type="JonathanRobbins.GatedContent.Pipelines.SuccessAction.SuccessGatedAccessRedirect, JonathanRobbins.GatedContent">
          <GatedContentSaveActionIds hint="raw:AddGatedContentSaveActionIds">
            <GatedContentSaveActionId value="{4FB69DA6-EFDE-46B8-8958-CDE99E00BE00}"/>
            <GatedContentSaveActionId value="{111BF03D-2831-4C2A-AE9B-2CD00386052C}"/>
            <GatedContentSaveActionId value="{6CAAAB20-1677-48D4-A8F3-B7B71E21DB7F}"/>
          </GatedContentSaveActionIds>
        </processor>
			</successAction>
		</pipelines>
	</sitecore>
</configuration>
